*{
    margin: 0px;
    padding: 0px;
    font-family: 'Jomhuria';
    font-width: 400px;
    font-style: regular;
    font-size: 1.2em;
}
:root{
    --cor1: #EBE8E2;
    --cor2: #e56d3f;
    --cor3: #7230b9;
}

a {
    color: var(--cor2);
}

#menu-principal {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    width: 100%;
}

header{
    text-align: center;
    padding: 10px;
    background-color: var(--cor3);
}

.tela-de-entrada{
    background-color: var(--cor1);
}


.secao-mapa{
    text-align: center;
}

#mapa{
    width: 200px;
}

footer{
    background-color: #e56d3f;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}