*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /*
    font-family: 'Jomhuria';
    font-width: 400px;
    font-style: regular;
    font-size: 1.2em;
    */
}
:root{
    --cor1: #ffffff;
    --cor2: #e56d3f;
    --cor3: #813ef5;
}


body{
    background: linear-gradient(90deg, #ffffff, #8080807c);
}
a {
    text-decoration: none;
    color: white;
}



/* =========================== Cabeçalho ============================= */

header{
    position: relative;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    background-color: var(--cor3);

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    transition-duration: 2s;
}
header div#conteiner-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

header h1{
    font-family: serif;
}
header #logo{
    width: 72px;
    background-color: var(--cor1);
    border-radius: 50%;

}

header #navbar {
    display: flex;
    justify-content: start;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}
header #navbar a{
    padding: 5px 10px;
    min-width: 32px;
    max-height: 30px;
    font-weight: 700;
}
header #navbar a:hover{
    background-color: #f860f863;
    border-radius: 6px 0 6px 6px;
    color: var(--cor1);
    font-weight: bolder;
    transition-duration: 0.3s;
}
header #navbar a:active{
    background-color: var(--cor3);
}
header .botao-mapa{
    background-color: white;
    color: var(--cor3);
    border-radius: 20px;
    border: 1.5px solid #ffffff;
    width: 67px;
    order: 0;
}

header #icone-menu{
    display: none;
}

/* =============================== Topo ============================= */

#secao-topo{
    background:  url(../midia/imagem-de-fundo-tela-inicial.png) no-repeat center center;
    background-size: contain;
    height: 80vh;
    max-width: 700px;
    margin: auto;
}

/* =============================== Corpo ============================= */
main{
    
    display: flex;
    gap: 5px;
    justify-content: space-around;
    align-items: start;
    background-color: var(--cor2);
    margin: 0px auto;
    padding: 20px;
    border-radius: 10px;
}

/*======================= Filtro ===================*/
#secao-filtro{
    position: absolute;
    left: 0;

    background-color: var(--cor3);
    border-radius: 10px;

    display: none; /*oculto*/
}
#formulario{
    padding: 10px; 
}
#secao-filtro ul{
    background-color: var(--cor1);
    padding: 10px;
}
#secao-filtro li{
    list-style-type: none;
    padding: 10px;
}

/*======================= Mapa ===================*/
#secao-mapa{
    background-color: var(--cor1);
    padding: 5px;
    border-radius: 10px;
}
#imagem-mapa{
    width: 100%;
    border-radius: 10px;
}
h2{
    font: 680 18pt arial;
}


/*======================= Sobre ===================*/
#secao-sobre{
    background-color: white;
    margin-top: 40px
}
#secao-sobre h2{
    padding: 40px;
    color: var(--cor1);
    background-color: var(--cor3);
    text-align: center;
    font: bold 20pt helvetica;
}
#secao-sobre p{
    text-align: justify;
    padding: 40px 15px;
    max-width: 600px;
    margin: auto;
    font: normal 18pt arial;
}

/* =============================== Rodapé =========================== */

footer{
    position: relative;
    margin-top: 30px;
    background-color: var(--cor3);
    text-align: center;
    padding: 10px;
}