*{
    margin: 0px;
    padding: 0px;
    font-family: 'Jomhuria';
    font-width: 400px;
    font-style: regular;
    font-size: 1.2em;
}
:root{
    --cor1: #EBE8E2;
    --cor2: #e56d3f;
    --cor3: #7230b9;
}

a {
    color: var(--cor2);
}


header{
    text-align: center;
    padding: 10px;
    background-color: var(--cor3);
}

header #menu-principal {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    width: 100%;
}

.tela-de-entrada{
    background-color: var(--cor1);
    margin: 0 0 20px 0;
}

.secao-mapa{
    text-align: center;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background-color: var(--cor2);
    border-radius: 10px;
}
.secao-mapa #mapa{
    width: 100%;
}

footer{
    background-color: #e56d3f;
    text-align: center;
    bottom: 0;
    width: 100%;
}